---
title: Cylon.js - Examples for Javascript
author: The Hybrid Group
page_title: Javascript example
page_subtitle: example
layout: docco
---


#container
  #background
  %ul#jump_to
    %li
      %a.large{href: "javascript:void(0);"} Jump To …
      %a.small{href: "javascript:void(0);"} +
      #jump_wrapper
        #jump_page
          %a.source{href: "/docco/docsJs/blink"} Example for blink.js
          %a.source{href: "/docco/docsJs/drone"} Example for drone.js
          %a.source{href: "/docco/docsJs/travis"} Example for travis.js


    
  %ul.sections 
    %li#title 
      .annotation
        %h1 blink.js
    %li#section-1 
      .annotation
        .pilwrap 
          %a.pilcrow{:href => "#section-1"} &#182;
      .content
        .highlight
          %pre
            %span.keyword var
            Cylon = require(
            %span.string '..'
            );

    %li#section-2
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-2"} ¶
        %p Initialize the robot
      .content
        .highlight
          %pre
            Cylon.robot({
            connection: { name:
            = succeed "," do
              %span.string 'arduino'
            = succeed "," do
              %span.string 'firmata'
            %span.string '/dev/ttyACM0'
            },
            device: {name:
            = succeed "," do
              %span.string 'led'
            = succeed "," do
              %span.string 'led'
            = succeed "}," do
              %span.number 13
            %span.function
              %span.keyword function
              %span.params (my)
              {
            every((
            %span.number> 1
            ).seconds(),
            = succeed "my.led.toggle()});" do
              %span.function
                %span.keyword function
                %span.params ()
                {     
                    
        
        
      