---
title: Cylon.js - Examples for Javascript
author: The Hybrid Group
page_title: Javascript example
page_subtitle: example
layout: docco
---

#container
  #background
  %ul#jump_to
    %li
      %a.large{href: "javascript:void(0);"} Jump To …
      %a.small{href: "javascript:void(0);"} +
      #jump_wrapper
        #jump_page
          %a.source{href: "/docco/docsJs/blink"} Example for blink.js
          %a.source{href: "/docco/docsJs/drone"} Example for drone.js
          %a.source{href: "/docco/docsJs/travis"} Example for travis.js

  %ul.sections
    %li#title
      .annotation
        %h1 drone.js
    %li#section-1
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-1"} ¶
      .content
        .highlight
          %pre
            %span.keyword var
            Cylon = require(
            %span.string> '..'
            );
            
            Cylon.robot({
            connection: {name:
            = succeed "," do
              %span.string 'ardrone'
            = succeed "," do
              %span.string 'ardrone'
            = succeed "}," do
              %span.string '192.168.1.1'
            = succeed "," do
              %span.string 'drone'
            = succeed "}," do
              %span.string 'ardrone'
            %span.function
              %span.keyword function
              %span.params (my)
              {
            my.drone.takeoff();
            
            after((
            %span.number> 10
            ).seconds(),
            %span.function
              %span.keyword function
              %span.params ()
              {
            my.drone.land();
            }
            
            after((
            %span.number> 15
            ).seconds(),
            %span.function
              %span.keyword function
              %span.params ()
              {
            my.drone.stop();
            }
            }
            }).start();