
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Drone
      %td.links= link_to 'Code', '/documentation/examples/ardrone/js/drone'
      %td.links= link_to 'Annotated Code', '/documentation/examples/ardrone/annotated/drone'
    %tr
      %td drone_face_tracking
      %td.links= link_to 'Code', '/documentation/examples/ardrone/js/drone_face_tracking'
      %td.links
    %tr
      %td Drone Navigation
      %td.links= link_to 'Code', '/documentation/examples/ardrone/js/drone_nav'
      %td.links= link_to 'Annotated Code', '/documentation/examples/ardrone/annotated/drone_nav'
