
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Beaglebone Blink
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/blink'
    %tr
      %td Beaglebone BlinkM
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/blinkm'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/blinkm'
    %tr
      %td Beaglebone Button
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/button'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/button'
    %tr
      %td Beaglebone Led Brightness
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/led'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/led'
    %tr
      %td Beaglebone Servo
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/servo'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/servo'
