
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Beaglebone Blink
      %td.links= link_to 'Javascript', '/documentation/examples/beaglebone/js/blink'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/beaglebone/coffee/blink'
    %tr
      %td Beaglebone BlinkM
      %td.links= link_to 'Javascript', '/documentation/examples/beaglebone/js/blinkm'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/beaglebone/coffee/blinkm'
    %tr
      %td Beaglebone Button
      %td.links= link_to 'Javascript', '/documentation/examples/beaglebone/js/button'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/beaglebone/coffee/button'
    %tr
      %td Beaglebone Led Brightness
      %td.links= link_to 'Javascript', '/documentation/examples/beaglebone/js/led'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/beaglebone/coffee/led'
    %tr
      %td Beaglebone Servo
      %td.links= link_to 'Javascript', '/documentation/examples/beaglebone/js/servo'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/beaglebone/coffee/servo'
