
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td API
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/api'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/api'
    %tr
      %td multiple_arduinos_multiple_skynet_connections
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/multiple_arduinos_multiple_skynet_connections'
      %td.links
    %tr
      %td multiple_arduinos_one_skynet_connection
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/multiple_arduinos_one_skynet_connection'
      %td.links
    %tr
      %td Cattoy
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/cattoy'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/cattoy'
    %tr
      %td Conway's Game Of Life - With Spheros
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/conway_sphero'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/conway_sphero'
    %tr
      %td Crazyflie
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/crazyflie'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/crazyflie'
    %tr
      %td Digispark Blink
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/blink'
    %tr
      %td Hello
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/hello'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/hello'
    %tr
      %td Keyboard
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/keyboard'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/keyboard'
    %tr
      %td Leapmotion Arduino
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/leap_arduino'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/leap_arduino'
    %tr
      %td Master
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/master'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/master'
    %tr
      %td rapiro_servo
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/rapiro_servo'
      %td.links
    %tr
      %td Robot Commands
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/robot_commands'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/robot_commands'
    %tr
      %td Sales Force
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/salesforce'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/salesforce'
    %tr
      %td Sales Force Sphero
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/sf-sphero'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/sf-sphero'
    %tr
      %td Skynet Blink
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/skynet-blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/skynet-blink'
    %tr
      %td Sphero + Pebble + SalesForce
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/sphero-pebble-sf'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/sphero-pebble-sf'
    %tr
      %td Cylon and Travis
      %td.links= link_to 'Code', '/documentation/examples/cylon/js/travis'
      %td.links= link_to 'Annotated Code', '/documentation/examples/cylon/annotated/travis'
