
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td API
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/api'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/api'
    %tr
      %td Cattoy
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/cattoy'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/cattoy'
    %tr
      %td Conway's Game Of Life - With Spheros
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/conway_sphero'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/conway_sphero'
    %tr
      %td Crazyflie
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/crazyflie'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/crazyflie'
    %tr
      %td Digispark Blink
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/blink'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/blink'
    %tr
      %td Hello
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/hello'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/hello'
    %tr
      %td Keyboard
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/keyboard'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/keyboard'
    %tr
      %td Leapmotion Arduino
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/leap_arduino'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/leap_arduino'
    %tr
      %td Master
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/master'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/master'
    %tr
      %td Pure GPIO
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/pure_gpio'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/pure_gpio'
    %tr
      %td Pure Spheron
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/pure_spheron'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/pure_spheron'
    %tr
      %td Robot Commands
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/robot_commands'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/robot_commands'
    %tr
      %td Sales Force
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/salesforce'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/salesforce'
    %tr
      %td Sales force Client    
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/sf-client'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/sf-client'
    %tr
      %td Sales Force Shpero    
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/sf-sphero'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/sf-sphero'
    %tr
      %td Sales Force Test 
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/sf-test'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/sf-test'
    %tr
      %td Skynet Blink
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/skynet-blink'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/skynet-blink'
    %tr
      %td Spark - Blink
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/spark_blink'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/spark_blink'
    %tr
      %td Sphero Pebble Sales Force
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/sphero-pebble-sf'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/sphero-pebble-sf'
    %tr
      %td Cylon and Travis
      %td.links= link_to 'Javascript', '/documentation/examples/cylon/js/travis'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/cylon/coffee/travis'
