
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Analog Sensor
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/analog_sensor'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/analog_sensor'
    %tr
      %td Blink
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/blink'
    %tr
      %td BlinkM
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/blinkm'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/blinkm'
    %tr
      %td Button
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/button'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/button'
    %tr
      %td LED Brightness
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/led_brightness'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/led_brightness'
    %tr
      %td Motor
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/motor'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/motor'
    %tr
      %td MPL115A2
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/mpl115a2'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/mpl115a2'
    %tr
      %td Servo
      %td.links= link_to 'Code', '/documentation/examples/firmata/js/servo'
      %td.links= link_to 'Annotated Code', '/documentation/examples/firmata/annotated/servo'
