
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Joystick - DualShock 3 Controller
      %td.links= link_to 'Javascript', '/documentation/examples/joystick/js/dualshock3'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/joystick/coffee/dualshock3'
    %tr
      %td Joystick - Xbox 360 Controller
      %td.links= link_to 'Javascript', '/documentation/examples/joystick/js/xbox360'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/joystick/coffee/xbox360'
