
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Joystick - DualShock 3 Controller
      %td.links= link_to 'Code', '/documentation/examples/joystick/js/dualshock3'
      %td.links= link_to 'Annotated Code', '/documentation/examples/joystick/annotated/dualshock3'
    %tr
      %td Joystick - Xbox 360 Controller
      %td.links= link_to 'Code', '/documentation/examples/joystick/js/xbox360'
      %td.links= link_to 'Annotated Code', '/documentation/examples/joystick/annotated/xbox360'
