
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Hand Position
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/js/hand_position'
      %td.links= link_to 'Annotated Code', '/documentation/examples/leapmotion/annotated/hand_position'
    %tr
      %td Leap Motion
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/js/leap'
      %td.links= link_to 'Annotated Code', '/documentation/examples/leapmotion/annotated/leap'
    %tr
      %td References
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/js/references'
      %td.links= link_to 'Annotated Code', '/documentation/examples/leapmotion/annotated/references'
