
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Display Camera
      %td.links= link_to 'Javascript', '/documentation/examples/opencv/js/display_camera'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/opencv/coffee/display_camera'
    %tr
      %td Display Image from Camera
      %td.links= link_to 'Javascript', '/documentation/examples/opencv/js/display_image'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/opencv/coffee/display_image'
    %tr
      %td Face Detection
      %td.links= link_to 'Javascript', '/documentation/examples/opencv/js/face_detection'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/opencv/coffee/face_detection'
