
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Raspberry Pi - Blink
      %td.links= link_to 'Code', '/documentation/examples/raspi/js/blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/raspi/annotated/blink'
    %tr
      %td Raspberry Pi - Button
      %td.links= link_to 'Code', '/documentation/examples/raspi/js/button'
      %td.links= link_to 'Annotated Code', '/documentation/examples/raspi/annotated/button'
    %tr
      %td Raspberry Pi BlinkM
      %td.links= link_to 'Code', '/documentation/examples/raspi/js/i2c'
      %td.links= link_to 'Annotated Code', '/documentation/examples/raspi/annotated/i2c'
    %tr
      %td Raspberry Pi - LED Brightness
      %td.links= link_to 'Code', '/documentation/examples/raspi/js/led_brightness'
      %td.links= link_to 'Annotated Code', '/documentation/examples/raspi/annotated/led_brightness'
    %tr
      %td Raspberry Pi - Servo
      %td.links= link_to 'Code', '/documentation/examples/raspi/js/servo'
      %td.links= link_to 'Annotated Code', '/documentation/examples/raspi/annotated/servo'
