
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Raspberry Pi - Blink
      %td.links= link_to 'Javascript', '/documentation/examples/raspi/js/blink'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/raspi/coffee/blink'
    %tr
      %td Raspberry Pi - Button
      %td.links= link_to 'Javascript', '/documentation/examples/raspi/js/button'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/raspi/coffee/button'
    %tr
      %td Raspberry Pi BlinkM
      %td.links= link_to 'Javascript', '/documentation/examples/raspi/js/i2c'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/raspi/coffee/i2c'
    %tr
      %td Raspberry Pi - LED Brightness
      %td.links= link_to 'Javascript', '/documentation/examples/raspi/js/led_brightness'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/raspi/coffee/led_brightness'
    %tr
      %td Raspberry Pi - Servo
      %td.links= link_to 'Javascript', '/documentation/examples/raspi/js/servo'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/raspi/coffee/servo'
