
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Spark Core - Blink
      %td.links= link_to 'Code', '/documentation/examples/spark/js/blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/spark/annotated/blink'
    %tr
      %td Spark Core - Events
      %td.links= link_to 'Code', '/documentation/examples/spark/js/events'
      %td.links= link_to 'Annotated Code', '/documentation/examples/spark/annotated/events'
    %tr
      %td Spark Core - Functions
      %td.links= link_to 'Code', '/documentation/examples/spark/js/functions'
      %td.links= link_to 'Annotated Code', '/documentation/examples/spark/annotated/functions'
    %tr
      %td Spark Core - Variables
      %td.links= link_to 'Code', '/documentation/examples/spark/js/variables'
      %td.links= link_to 'Annotated Code', '/documentation/examples/spark/annotated/variables'
    %tr
      %td voodooblink
      %td.links= link_to 'Code', '/documentation/examples/spark/js/voodooblink'
      %td.links
