
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Spark Core - Blink
      %td.links= link_to 'JavaScript', '/documentation/examples/spark/js/blink'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/spark/coffee/blink'
    %tr
      %td Spark Core - Events
      %td.links= link_to 'JavaScript', '/documentation/examples/spark/js/events'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/spark/coffee/events'
    %tr
      %td Spark Core - Functions
      %td.links= link_to 'JavaScript', '/documentation/examples/spark/js/functions'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/spark/coffee/functions'
    %tr
      %td Spark Core - Variables
      %td.links= link_to 'JavaScript', '/documentation/examples/spark/js/variables'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/spark/coffee/variables'
