
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Sphero
      %td.links= link_to 'Code', '/documentation/examples/sphero/js/basic'
      %td.links= link_to 'Annotated Code', '/documentation/examples/sphero/annotated/basic'
    %tr
      %td Sphero Collisions
      %td.links= link_to 'Code', '/documentation/examples/sphero/js/collision'
      %td.links= link_to 'Annotated Code', '/documentation/examples/sphero/annotated/collision'
    %tr
      %td Sphero Color
      %td.links= link_to 'Code', '/documentation/examples/sphero/js/color'
      %td.links= link_to 'Annotated Code', '/documentation/examples/sphero/annotated/color'
    %tr
      %td Sphero Messages
      %td.links= link_to 'Code', '/documentation/examples/sphero/js/messages'
      %td.links= link_to 'Annotated Code', '/documentation/examples/sphero/annotated/messages'
    %tr
      %td Multiple Spheros
      %td.links= link_to 'Code', '/documentation/examples/sphero/js/multiple'
      %td.links= link_to 'Annotated Code', '/documentation/examples/sphero/annotated/multiple'
