
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td Sphero
      %td.links= link_to 'JavaScript', '/documentation/examples/sphero/js/basic'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/sphero/coffee/basic'
    %tr
      %td Sphero Collisions
      %td.links= link_to 'JavaScript', '/documentation/examples/sphero/js/collision'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/sphero/coffee/collision'
    %tr
      %td Sphero Color
      %td.links= link_to 'JavaScript', '/documentation/examples/sphero/js/color'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/sphero/coffee/color'
    %tr
      %td Sphero Messages
      %td.links= link_to 'JavaScript', '/documentation/examples/sphero/js/messages'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/sphero/coffee/messages'
    %tr
      %td Multiple Spheros
      %td.links= link_to 'JavaScript', '/documentation/examples/sphero/js/multiple'
      %td.links= link_to 'CoffeeScript', '/documentation/examples/sphero/coffee/multiple'
