---
title: Cylon.js - Examples for CoffeeScript
author: The Hybrid Group
page_title: CoffeeScript example
page_subtitle: example
layout: docco
---
#container
  #background
  %ul#jump_to
    %li
      %a.large{href: "javascript:void(0);"} Jump To …
      %a.small{href: "javascript:void(0);"} +
      #jump_wrapper
        #jump_page
          %a.source{href: "/docco/docsCoffee/blink"} Example for blink.coffee
          %a.source{href: "/docco/docsCoffee/drone"} Example for drone.coffee
          %a.source{href: "/docco/docsCoffee/travis"} Example for travis.coffee

  %ul.sections
    %li#title
      .annotation
        %h1 blink.coffee
    %li#section-1
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-1"} ¶
      .content
        .highlight
          %pre
            Cylon =
            = succeed "(" do
              %span.built_in require
            = succeed ")" do
              %span.string '..'
    %li#section-2
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-2"} ¶
        %p Initialize the robot
      .content
        .highlight
          %pre
            Cylon.robot
            = succeed ":" do
              %span.attribute connection
            = succeed ":" do
              %span.attribute name
            = succeed "," do
              %span.string 'arduino'
            = succeed ":" do
              %span.attribute adaptor
            = succeed "," do
              %span.string 'firmata'
            = succeed ":" do
              %span.attribute port
            %span.string '/dev/ttyACM0'
            = succeed ":" do
              %span.attribute device
            = succeed ":" do
              %span.attribute name
            = succeed "," do
              %span.string 'led'
            = succeed ":" do
              %span.attribute driver
            = succeed "," do
              %span.string 'led'
            = succeed ":" do
              %span.attribute pin
            %span.number 13
            = succeed ":" do
              %span.attribute work
            %span.function
              %span.params (my)
              \->
    %li#section-3
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-3"} ¶
        %p we do our thing here
      .content
        .highlight
          %pre
            every
            = succeed "second()," do
              %span.number 1.
            %span.function ->
            my.led.toggle()
            
            \.start()