-content_for :posts do
  %ul
    %li= link_to "Functional Robots With Wisp", "/blog/2014/04/02/functional-robots-with-wisp/"
    %li= link_to "Release 0.12 Is For RobotOps", "/blog/2014/03/28/release-0.12-is-for-robotops/"
    %li= link_to "Making Waves At Makerland", "/blog/2014/03/24/making-waves-at-makerland/"
    %li= link_to "This One Goes To 0.11 Of Pure JavaScript", "/blog/2014/03/04/this-one-goes-to-0.11-of-pure-javascript/"
    %li= link_to "Tipping SCaLE12X", "/blog/2014/02/24/tipping-scale12x/"
    %li= link_to "Intro Robeaux- A Universal User Interface To Robotic Devices", "/blog/2014/02/06/intro-robeaux-a-universal-user-interface-to-robotic-devices/"
    %li= link_to "ng-robots! A Fun Robot Hackathon At The First ng-conf", "/blog/2014/01/21/ng-robots-a-fun-robot-hackathon-at-the-first-ng-conf/"
    %li= link_to "Number 9! The Release In Which We Add A Web UX, More Platforms, and Tools", "/blog/2014/01/15/number-9-the-release-in-which-we-add-a-web-ux-more-platforms-and-tools/"
    %li= link_to "Release 0.8.0 Makes 10 Platforms", "/blog/2013/12/16/release-0.8.0-makes-10-platforms/"
    %li= link_to "RobotsConf Was Remarkable", "/blog/2013/12/12/robotsconf-was-remarkable/"
    %li= link_to "Dreamforce Means Connected Devices Are A Thing", "/blog/2013/11/26/dreamforce-means-connected-devices-are-a-thing/"
    %li= link_to "Dreamforce Is Coming!", "/blog/2013/11/15/dreamforce-is-coming/"
    %li= link_to "Welcome, Cylon.js", "/blog/2013/11/13/welcome-cylon-js/"

-content_for :tags do
  %ul
    %li= link_to "Robots", "/blog/tags/robots/"

-content_for :network do
  .network-links
    = link_to image_tag("elements/twitter.png"), "https://twitter.com/cylonjs"
    = link_to image_tag("elements/github.png"), "https://github.com/hybridgroup/cylon"

