---
title: Cylon.js - LCD Driver
author: The Hybrid Group
page_title: LCD
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
breadcrumbs: "<li><a href=''>LCD</a></li>"

arduino_platform: true
digispark_platform: true
raspberry_platform: true
---
-content_for :bredcrumbs do
  = partial "/documentation/drivers/breadcrumbs"

%section.intro
  = image_tag "/images/devices/lcd.jpg", class: "display"
  .info-intro
    %p Used for display characters.
    %p 
      For more information click
      = link_to "here.", "http://en.wikipedia.org/wiki/Liquid-crystal_display", target: "_blank"
  .clear
     
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' }

          device: { name: 'lcd', driver: 'lcd' },
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %p Example of the LCD driver with the Arduino.
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' }

          device: { name: 'lcd', driver: 'lcd' },

          work: function(my) {
            my.lcd.on('start', function(){
              my.lcd.print("Hello!");
            });
          }

        }).start()

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/i2c/commands_lcd"
  .commands-api#Events
    = partial "/documentation/drivers/partials/i2c/events_lcd"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p 
  .image-circuit 
    %img{:src => "/documentation/drivers/breadboards/i2c/lcd_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
    
