---
title: Cylon.js - Skynet Driver
author: The Hybrid Group
page_title: Skynet 
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
breadcrumbs: "<li><a href=''>Skynet</a></li>"

skynet_platform: true
---
-content_for :bredcrumbs do
  = partial "/documentation/drivers/breadcrumbs"

%section.intro
  = image_tag "/images/devices/skynet.jpg", class: "display"
  .info-intro
    %p Open Communications Network and API for the internet of things.
    %p
      For more info about the Skynet platform click
      = succeed "." do
        = link_to "http://skynet.im/", "http://skynet.im/", target: :blank
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: [
            { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
            { name: 'skynet', adaptor: 'skynet', uuid: "742401f1-87a4-11e3-834d-670dadc0ddbf", token: "xjq9h3yzhemf5hfrme8y08fh0sm50zfr" }
          ],

          device: { name: 'led', driver: 'led', pin: 13, connection: 'arduino' },
        ...

          
%section.how-to#HowToUse
  %h2 How To Use
  %p This small program use the Skynet with the LED.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connections: [
            { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
            { name: 'skynet', adaptor: 'skynet', uuid: "742401f1-87a4-11e3-834d-670dadc0ddbf", token: "xjq9h3yzhemf5hfrme8y08fh0sm50zfr" }
          ],

          device: { name: 'led', driver: 'led', pin: 13, connection: 'arduino' },

          work: function(my) {
            my.skynet.on('message', function(data) {
              if(data.message.red == 'on') {
                my.led.turnOn()
              }
              else if(data.message.red == 'off') {
                my.led.turnOff()
              }
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/skynet/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/skynet/events"
    
%section.compatibility.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"