---
title: Arduino with Cylon.js
author: The Hybrid Group
page_title: Arduino
page_subtitle: "<a href='#' target='blanck' class='repository'>Repository</a> <a class+'issues' href='#' target='blanck'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/arduino.jpg", class: "display"

    %p
      Arduino is an open-source electronics prototyping platform based on flexible,
      easy-to-use hardware and software. It's intended for artists, designers, hobbyists and
      anyone interested in creating interactive objects or environments.

    %p
      For more info about the arduino platform click
      = succeed "." do
        = link_to "here", "http://arduino.cc/", target: :blank

  %section.how_to
    %h2 How to install
    %p
      Comming soon.

    %h2 How to use
    %p
      Comming soon.
    :markdown
          :::ruby
          Comming soon.

    %h2 How to connect
    %h3 OSX
    %p Comming soon.

    %h3 Ubuntu

    %p Comming soon.

   
  %section.drivers
    %h2 Drivers
    %p
      Thanks to
      %b cylon.js
      and
      %b node.js
      it is possible to interact with several I/O hardware devices and interfaces connected to the arduino
      using a set of already defined and easy to use drivers, all of this thanks to the artoo architecture, in conjuction with cylon-arduino
      adaptor (using the firmata communication protocol),
      which makes it even possible to swap the entire platform for something else like digispark, and keep using the same code you just wrote for
      arduino, this just by swapping a couple of lines in your program.
    %p
      Available drivers for the arduino platform are listed below, the drivers contain detailed documentation and examples of what kind
      physical computing (using cylon.js and node.js) you could be doing:

    .hardware
      .devices
        = partial "documentation/partials/analog-sensor"
        = partial "documentation/partials/button"
        = partial "documentation/partials/led"
        = partial "documentation/partials/maxbotix"
        = partial "documentation/partials/motor"
        = partial "documentation/partials/servo"
        = partial "documentation/partials/blinkm"
        = partial "documentation/partials/hmc6352-compass"
        = partial "documentation/partials/wiichuck"
        = partial "documentation/partials/wiiclassic"

