---
title: Force with Cylon.js
author: The Hybrid Group
page_title: Force
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-force' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-force/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

force_drivers: true
---

%section.intro
  = image_tag "/images/devices/force.jpg", class: "display"
  .info-intro
    %p 
    -# I put this description but if you need to change it, no problem ;)  *************
    This module provides an adaptor and drivers for Force.com 

    %p 
      It uses the nforce module 
      =link_to "(https://github.com/kevinohara80/nforce)" , "https://github.com/kevinohara80/nforce" 
      created by @kevinohara80 thank you!

    %p
      For more info about the Force platform go to
      = succeed "." do
        = link_to "http://www.force.com/", "http://www.salesforce.com/platform/overview/", target: :blank

  .clear

%section.how-to#HowToInstall
  %h2 How To Install
  
  %p
    Installing cylon.js with Force support is pretty easy.
  :markdown
        :::bash
        npm install cylon-force

%section.how-to#HowToUse
  %h2 How To Use
  %p
  -# here the description of the example *************
    This example uses the sphero and the cylonjs-force
  %h3 JavaScript
  -# here the code of the example in JS(coming soon..)*************
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'sfcon',
            adaptor: 'force',
            sfuser: process.env.SF_USERNAME,
            sfpass: process.env.SF_SECURITY_TOKEN,
            orgCreds: {
              clientId: process.env.SF_CLIENT_ID,
              clientSecret: process.env.SF_CLIENT_SECRET,
              redirectUri: 'http://localhost:3000/oauth/_callback'
            }
          },
          device: {
            name: 'salesforce',
            driver: 'force'
          },
          work: function(me) {
            var toSend;
            me.salesforce.on('start', function() {
              return me.salesforce.subscribe('/topic/SpheroMsgOutbound', function(data) {
                return Logger.info("Sphero: " + data.sobject.Sphero_Name__c + ", data Content: " + data.sobject.Content__c + ", SM_Id: " + data.sobject.Id);
              });
            });
            toSend = "{ \"identifier\" :\"" + me.name + "\", \"msg\": \"" + 'Salesforce Bot #2' + "\" }";
            return me.salesforce.push('SpheroController', 'POST', toSend);
          }
        }).start();

  %h3 CoffeeScript
  -# here the code of the example in Coffee(coming soon..)*************

  :markdown
        :::ruby

        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'sfcon',
            adaptor: 'force',
            sfuser: process.env.SF_USERNAME,
            sfpass: process.env.SF_SECURITY_TOKEN,
            orgCreds: {
              clientId: process.env.SF_CLIENT_ID,
              clientSecret: process.env.SF_CLIENT_SECRET,
              redirectUri: 'http://localhost:3000/oauth/_callback'
            }

          device:
            name: 'salesforce', driver: 'force'

          work: (me) ->

            me.salesforce.on('start', () ->
              me.salesforce.subscribe('/topic/SpheroMsgOutbound', (data) ->
                Logger.info "Sphero: \#{ data.sobject.Sphero_Name__c }, data Content: \#{ data.sobject.Content__c }, SM_Id: \#{ data.sobject.Id }"
              )
            )

            toSend = "{ \"identifier\" :\"\#{ me.name }\", \"msg\": \"\#{ 'Salesforce Bot #2' }\" }"
            me.salesforce.push('SpheroController', 'POST', toSend)
        .start()


%section.how-to#HowToConnect
  %h2 How To Connect
  %h2 Salesforce Setup
  %h3 Getting Started
  %ul 
    %li 
      First you'll need an account on DeveloperForce. If you don't already have one, you can create one at: 
      = link_to "http://developer.force.com/join", "http://developer.force.com/join", target: :blank
    %br/ 
    %li 
      Next, you need to configure a new connected app in your developer profile in order to retrieve all the keys, tokens, urls nedded to
      connect your app with SalesForce. In order to do this:
      %ul 
        %br/ 
        %li Go to -> Setup (top) > Create (side) > Apps > Connected Apps (scroll down ) > New Check "Enable Oauth Settings".
        %li Next, add all permissions. Use "http://localhost:3000/oauth/_callback" as your callback URL. You'll be using the Oauth2 web server flow, so you need your personal security code. If you don't have one, go to your Profile and click reset security token and Salesforce should email it to you.
        %li Setup > My Personal Information > Reset My Security Code, you'll need your password + security token to be able to login (PASSWORDsecurityCode (concatenated, no space)).
    %br/ 
    %li 
      Now we need to setup an object with a couple of custom fields for streaming communication. In this example we'll create a new object and call it 'Sphero_Message': We also add two custom fields to this object: 'Sphero_Name' and 'Bucks'.
      %ul 
        %br/
        %li Go to Setup -> Create -> Object -> New and name it Sphero_Message
        %li Create custom attributes "Sphero_Name" and "Bucks" both text type.
        %li 
          We've created a Salesforce package that installs the Sphero_Message Object and the apexRest class for you to speed things up. Install it
          =link_to "here", "https://login.salesforce.com/packaging/installPackage.apexp?p0=04ti00000004IoN"
    %br/
    %li 
      Setup apexRest code so we can create new objects using RESTfull implementation:
      %ul 
        %br/
        %li Go click in My Profile -> Developer Console, when the developer console opens up go to:
        %li Click File -> New -> Apex Class and the following code to that:
        %li 
          We've created a Salesforce package that installs the Sphero_Message Object and the apexRest class for you to speed things up. Install it 
          =link_to "here", "https://login.salesforce.com/?ec=302&startURL=%2Fpackaging%2FinstallPackage.apexp%3Fp0%3D04ti00000004IoN"
        :markdown
              :::bash
              @RestResource(urlMapping='/SpheroController/*')
              global with sharing class SpheroController {
                @HttpPost
                  global static void create(String spheroName, String bucks) {
                    SpheroController.handleSpheroMessage(spheroName, bucks)
                  }

                public static void handleSpheroMessage(String spheroName, String bucks) {
                  Sphero_Message__c sm = new Sphero_Message__c();
                  sm.Sphero_Name__c = spheroName;
                  sm.Bucks__c = bucks;
                  insert sm;
                }
              }
    %li 
      To be able to stream we need to setup a PushTopic to connect to.
      %ul 
        %br/ 
        %li Go to developer console click on Debug -> Open Execute Anonymus Code or (Ctrl +E)
        %li Add code to create the new pushTopic with the query you want to execute and the events you want it to report.
        :markdown
              :::bash
              PushTopic pt = new PushTopic();
              pt.apiversion = 28.0;
              pt.name = 'SpheroMsgOutbound'; pt.description = 'All new Sphero Message records';
              pt.query = 'SELECT Id, Name, Sphero_Name__c, Bucks__c FROM Sphero_Message__c';
              insert pt;
              System.debug('Created new PushTopic: '+ pt.Id);
    %li At this point everything in salesforce should be ready and we should be able to connect, authenticate, push/create records through apexRest and stream information using the pushTopic.
	


%section.drivers#Drivers
  %h2 Drivers
  %p All Cylon.js drivers listed below should work with the Force:

  .hardware
    .devices
      = partial "documentation/partials/devices_force_drivers"
