---
title: Joysticks with Cylon.js
author: The Hybrid Group
page_title: Joysticks
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-joystick' class='repository' target='blank'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-joystick/issues'  target='blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true

xbox360_driver: true
dualshock_driver: true
---

%section.intro
  = image_tag "/images/devices/joystick.jpg", class: "display"
  .info-intro
    %p A joystick is an input device consisting of a stick that pivots on a base and reports its angle or direction to the device it is controlling.
    %p You can use Cylon.js with an Xbox 360 game controller. The goal is to also support any other joysticks and game controllers that are HID devices.
    %p
      For more info about the Joystick platform click
      = succeed "." do
        = link_to "here", "http://en.wikipedia.org/wiki/Joystick", target: :blank
  
  .clear

%section.how_to#HowToInstall
  %h2 How To Install
  %p Installing Cylon.js with Joystick support is pretty easy.
  :markdown
        :::bash
        npm install cylon-joystick
  %h3 Note for OS X Users
  %p 
    You'll need to install OS X Drivers for the Xbox Controller from 
    = link_to "http://tattiebogle.net/index.php/ProjectRoot/Xbox360Controller/OsxDriver", "http://tattiebogle.net/index.php/ProjectRoot/Xbox360Controller/OsxDriver" , target: :blank
    if you want to use it.

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program receives joystick and button press events from an XBox 360 game controller.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'joystick', adaptor: 'joystick' },
          device: {name: 'joystick', driver: 'xbox360'},

          work: function(my) {
            my.joystick.on("left:move", function(position) { 
              console.log(position);
            });
          }
        }).start();


%section.how-to#HowToConnect
  %h2 How To Connect
  %p Plug your USB joystick or game controller into your USB port.

%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the joystick platform are listed below:
  -#%p There are 3 driver for different joysticks, as listed below:

  .hardware
    .devices
      = partial "/documentation/partials/devices_joystick_drivers"

