---
title: Leapmotion with Cylon.js
author: The Hybrid Group
page_title: Leapmotion
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-leapmotion' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-leapmotion/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

leapmotion_driver: true
---

%section.intro
  = image_tag "/images/devices/leap_motion.jpg", class: "display"
  .info_intro
    %p The Leap Motion is a user-interface device that tracks the user's hand motions, and translates them into events that can control robots and physical computing hardware.

    %p
      For more info about the Leap Motion platform click
      = succeed "." do
        = link_to "here", "https://www.leapmotion.com/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing Cylon.js with leapmotion support is pretty easy.
  :markdown
        :::bash
        npm install cylon-leapmotion
  %p 
    In order to use this module , you need to install the drivers/software from the Leapmotion site 
    =link_to "https://www.leapmotion.com/setup", "https://www.leapmotion.com/setup"
    , make sure that is installed before use the commands and events (and SDK too if you want, but the SDK is not needed for cylon.js).


%section.how-to#HowToUse
  %h2 How To Use
  %p This small program uses a Leap Motion to detect the user's hand position
  %h3 JavaScript
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'leapmotion',
            adaptor: 'leapmotion',
            port: '127.0.0.1:6437'
          },
          device: {
            name: 'leapmotion',
            driver: 'leapmotion'
          },
          work: function(my) {
            return my.leapmotion.on('hand', function(hand) {
              return Logger.info("" + hand.palmX + "," + hand.palmY + "," + hand.palmZ);
            });
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::ruby
        Cylon = require 'cylon'

        Cylon.robot
          connection: { name: 'leapmotion', adaptor: 'leapmotion', port: '127.0.0.1:6437' }
          device: { name: 'leapmotion', driver: 'leapmotion' }

          work: (my) ->
            my.leapmotion.on 'hand', (hand) ->
              Logger.info "\#{hand.palmX},\#{hand.palmY},\#{hand.palmZ}"

        .start()

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 OSX
  %p
    This driver works out of the box with the vanilla installation of the Leap Motion Software that you get in their 
    =link_to "Setup Guide." ,"https://www.leapmotion.com/setup"

  %p The main steps are:

  %ul
    %li Run Leap Motion.app
    %li Connect your Computer and Leap Motion Controller.
    %li Connect to the device via Cylon.js.

  %h3 Ubuntu
  %p
    The Linux download of the Leap Motion software can be obtained from
    =link_to "Leap Motion Dev Center", "https://developer.leapmotion.com/downloads"  
    (requires free signup)
  %p The main steps are:
  %ul
    %li Run the leapd daemon.
    %li Connect your computer and the Leap Motion controller
    %li Connect to the device via Cylon.js

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for the Leap Motion platform as listed below.

  .hardware
    .devices
      =# TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_leapmotion_drivers"
