---
title: Raspberry Pi with Cylon.js
author: The Hybrid Group
page_title: Raspberry Pi
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-raspi' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-raspi/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
breadcrumbs: "<li><a href=''>Raspberry Pi</a></li>"

button_driver: true
continuous_servo_driver: true        
led_driver: true
servo_driver: true
motor_driver: true
---
-content_for :bredcrumbs do
  = partial "/documentation/platforms/breadcrumbs"

%section.intro
  = image_tag "/images/devices/raspi.jpg", class: "display"
  .info-intro
    %p The Raspberry Pi is an inexpensive and popular ARM based single board computer with digital & PWM GPIO, and i2c interfaces built in.

    %p The Raspberry Pi is a credit-card-sized single-board computer developed in the UK by the Raspberry Pi Foundation with the intention of promoting the teaching of basic computer science in schools

    %p
      For more info about the Raspberry Pi platform go to
      = succeed "." do
        = link_to "http://www.raspberrypi.org/", "http://www.raspberrypi.org/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing cylon.js with raspberri-pi support is pretty easy.
  :markdown
        :::bash
        npm install cylon-raspi

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program causes an LED to blink.
  :markdown
        :::javascript
        Cylon = require('..');

        Cylon.robot({
          connection: {
            name: 'raspi',
            adaptor: 'raspi'
          },
          device: {
            name: 'led',
            driver: 'led',
            pin: 11
          },
          work: function(my) {
            return every(1..second(), function() {
              return my.led.toggle();
            });
          }
        }).start();
  

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 Connecting to Raspberry Pi GPIO
  %p This module only works on a real Raspberry Pi. Do not bother trying on any other kind of computer it will not work. Also note you will need to connect actual circuits to the Raspberry Pi's GPIO pins.

  %h3 Enabling the Raspberry Pi i2c on raspbian
  %p You must add these two entries in your /etc/modules

  :markdown
        :::bash
        i2c-bcm2708
        i2c-dev

  %p You must also ensure that these entries are commented in your /etc/modprobe.d/raspi-blacklist.conf

  :markdown
        :::bash
        #blacklist spi-bcm2708
        #blacklist i2c-bcm2708

  %p Now restart your raspberry pi.

  %h3 Enabling PWM output on GPIO pins.

  %p You need to install and have pi-blaster running in the raspberry-pi, you can follow the instructions for pi-blaster install on our repo here:

  =link_to "https://github.com/hybridgroup/pi-blaster" , "https://github.com/hybridgroup/pi-blaster"

  %h3 Available PINS
  :markdown
        :::bash
        PINS = {
          3: {
            rev1: 0,
            rev2: 2
          },
          5: {
            rev1: 1,
            rev2: 3
          },
          7: 4,
          8: 14,
          10: 15,
          11: 17,
          12: 18,
          13: {
            rev1: 21,
            rev2: 27
          },
          15: 22,
          16: 23,
          18: 24,
          19: 10,
          21: 9,
          22: 25,
          23: 11,
          24: 8,
          26: 7
        };

%section.drivers#Drivers
  %h2 Drivers
  %p All Cylon.js digital and PWM GPIO drivers listed below should work with the Raspberry Pi:

  .hardware
    %h2 GPIO Drivers
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_gpio_drivers"
    // %h2 i2c Drivers
    .devices
      = partial "documentation/partials/devices_i2c_drivers"

