---
layout: documentation
page_title_show: true
title: Examples
page_title: Examples
author: The Hybrid Group
description: Examples of using Cylon.JS with different hardware configurations
page_subtitle: How you can get started.
---

.examples
  %table
    %thead
      %th Example
      %th.links{:colspan => '2'} Links
    %tbody
      %tr
        %td Analog Sensor
        %td.links= link_to 'Javascript', '/documentation/examples/js/analog_sensor'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/analog_sensor'
      %tr
        %td API
        %td.links= link_to 'Javascript', '/documentation/examples/js/api'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/api'
      %tr
        %td Beaglebone Blink
        %td.links= link_to 'Javascript', '/documentation/examples/js/bbb_blink'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/bbb_blink'
      %tr
        %td Beaglebone BlinkM
        %td.links= link_to 'Javascript', '/documentation/examples/js/bbb_i2c_blinkm'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/bbb_i2c_blinkm'
      %tr
        %td Beaglebone Button
        %td.links= link_to 'Javascript', '/documentation/examples/js/bbb_button'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/bbb_button'
      %tr
        %td Beaglebone Led Brightness
        %td.links= link_to 'Javascript', '/documentation/examples/js/bbb_led_brightness'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/bbb_led_brightness'
      %tr
        %td Beaglebone Servo
        %td.links= link_to 'Javascript', '/documentation/examples/js/bbb_servo'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/bbb_servo'
      %tr
        %td Blink
        %td.links= link_to 'Javascript', '/documentation/examples/js/blink'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/blink'
      %tr
        %td BlinkM
        %td.links= link_to 'Javascript', '/documentation/examples/js/blinkm'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/blinkm'
      %tr
        %td Button
        %td.links= link_to 'Javascript', '/documentation/examples/js/button'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/button'
      %tr
        %td Cattoy
        %td.links= link_to 'Javascript', '/documentation/examples/js/cattoy'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/cattoy'
      %tr
        %td Conway's Game Of Life - With Spheros
        %td.links= link_to 'Javascript', '/documentation/examples/js/conway_sphero'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/conway_sphero'
      %tr
        %td Crazyflie
        %td.links= link_to 'Javascript', '/documentation/examples/js/crazyflie'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/crazyflie'
      %tr
        %td Digispark Blink
        %td.links= link_to 'Javascript', '/documentation/examples/js/blink'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/blink'
      %tr
        %td Drone
        %td.links= link_to 'Javascript', '/documentation/examples/js/drone'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/drone'
      %tr
        %td Drone Navigation
        %td.links= link_to 'Javascript', '/documentation/examples/js/drone_nav'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/drone_nav'
      %tr
        %td Hello
        %td.links= link_to 'Javascript', '/documentation/examples/js/hello'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/hello'
      %tr
        %td Joystick - DualShock 3 Controller
        %td.links= link_to 'Javascript', '/documentation/examples/js/joystick_dualshock_3'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/joystick_dualshock_3'
      %tr
        %td Joystick - Xbox 360 Controller
        %td.links= link_to 'Javascript', '/documentation/examples/js/joystick_xbox_360'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/joystick_xbox_360'
      %tr
        %td Keyboard
        %td.links= link_to 'Javascript', '/documentation/examples/js/keyboard'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/keyboard'
      %tr
        %td Leapmotion Arduino
        %td.links= link_to 'Javascript', '/documentation/examples/js/leap_arduino'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/leap_arduino'
      %tr
        %td LED Brightness
        %td.links= link_to 'Javascript', '/documentation/examples/js/led_brightness'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/led_brightness'
      %tr
        %td Master
        %td.links= link_to 'Javascript', '/documentation/examples/js/master'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/master'
      %tr
        %td Motor
        %td.links= link_to 'Javascript', '/documentation/examples/js/motor'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/motor'
      %tr
        %td MPL115A2
        %td.links= link_to 'Javascript', '/documentation/examples/js/mpl115a2'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/mpl115a2'
      %tr
        %td Display Camera
        %td.links= link_to 'Javascript', '/documentation/examples/js/display-camera-feed'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/display-camera-feed'
      %tr
        %td Display Image from Camera
        %td.links= link_to 'Javascript', '/documentation/examples/js/display-image-from-camera'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/display-image-from-camera'
      %tr
        %td Face Detection
        %td.links= link_to 'Javascript', '/documentation/examples/js/face-detection'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/face-detection'
      %tr
        %td Pure GPIO
        %td.links= link_to 'Javascript', '/documentation/examples/js/pure_gpio'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/pure_gpio'
      %tr
        %td Pure Spheron
        %td.links= link_to 'Javascript', '/documentation/examples/js/pure_spheron'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/pure_spheron'
      %tr
        %td Raspberry Pi - Blink
        %td.links= link_to 'Javascript', '/documentation/examples/js/raspi_blink'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/raspi_blink'
      %tr
        %td Raspberry Pi - Button
        %td.links= link_to 'Javascript', '/documentation/examples/js/raspi_button'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/raspi_button'
      %tr
        %td Raspberry Pi BlinkM
        %td.links= link_to 'Javascript', '/documentation/examples/js/raspi_i2c_blinkm'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/raspi_i2c_blinkm'
      %tr
        %td Raspberry Pi - LED Brightness
        %td.links= link_to 'Javascript', '/documentation/examples/js/raspi_led_brightness'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/raspi_led_brightness'
      %tr
        %td Raspberry Pi - Servo
        %td.links= link_to 'Javascript', '/documentation/examples/js/raspi_servo'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/raspi_servo'
      %tr
        %td Robot Commands
        %td.links= link_to 'Javascript', '/documentation/examples/js/robot_commands'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/robot_commands'
      %tr
        %td Sales Force
        %td.links= link_to 'Javascript', '/documentation/examples/js/salesforce'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/salesforce'
      %tr
        %td Servo
        %td.links= link_to 'Javascript', '/documentation/examples/js/servo'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/servo'
      %tr
        %td Sales force Client    
        %td.links= link_to 'Javascript', '/documentation/examples/js/sf-client'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sf-client'
      %tr
        %td Sales Force Shpero    
        %td.links= link_to 'Javascript', '/documentation/examples/js/sf-sphero'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sf-sphero'
      %tr
        %td Sales Force Test 
        %td.links= link_to 'Javascript', '/documentation/examples/js/sf-test'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sf-test'
      %tr
        %td Skynet Blink
        %td.links= link_to 'Javascript', '/documentation/examples/js/skynet-blink'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/skynet-blink'
      %tr
        %td Spark - Blink
        %td.links= link_to 'Javascript', '/documentation/examples/js/spark_blink'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/spark_blink'
      %tr
        %td Sphero
        %td.links= link_to 'Javascript', '/documentation/examples/js/sphero'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sphero'
      %tr
        %td Sphero Pebble Sales Force
        %td.links= link_to 'Javascript', '/documentation/examples/js/sphero-pebble-sf'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sphero-pebble-sf'
      %tr
        %td Sphero Collisions
        %td.links= link_to 'Javascript', '/documentation/examples/js/sphero_collision'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sphero_collision'
      %tr
        %td Sphero Color
        %td.links= link_to 'Javascript', '/documentation/examples/js/sphero_color'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sphero_color'
      %tr
        %td Sphero Messages
        %td.links= link_to 'Javascript', '/documentation/examples/js/sphero_messages'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sphero_messages'
      %tr
        %td Multiple Spheros
        %td.links= link_to 'Javascript', '/documentation/examples/js/sphero_multiple'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/sphero_multiple'
      %tr
        %td Cylon and Travis
        %td.links= link_to 'Javascript', '/documentation/examples/js/travis'
        %td.links= link_to 'CoffeeScript', '/documentation/examples/coffee/travis'
