---
layout: page
title: Examples
page_title: Examples
author: The Hybrid Group
description: Examples of using Cylon.JS with different hardware configurations
page_subtitle: How you can get started.
---

.documentation
  %ul.index
    %li
      .link= link_to "Analog Sensor", '/documentation/examples/analog_sensor'
    %li
      .link= link_to "API", '/documentation/examples/api'
    %li
      .link= link_to "Blink", '/documentation/examples/blink'
    %li
      .link= link_to "BlinkM", '/documentation/examples/blinkm'
    %li
      .link= link_to "Button", '/documentation/examples/button'
    %li
      .link= link_to "Conway's Game Of Life - With Spheros", '/documentation/examples/conway_sphero'
    %li
      .link= link_to "Crazyflie", '/documentation/examples/crazyflie'
    %li
      .link= link_to "Drone", '/documentation/examples/drone'
    %li
      .link= link_to "Drone Navigation", '/documentation/examples/drone_nav'
    %li
      .link= link_to "Hello", '/documentation/examples/hello'
    %li
      .link= link_to "LED Brightness", '/documentation/examples/led_brightness'
    %li
      .link= link_to "Master", '/documentation/examples/master'
    %li
      .link= link_to "Motor", '/documentation/examples/motor'
    %li
      .link= link_to "Pure GPIO", '/documentation/examples/pure_gpio'
    %li
      .link= link_to "Pure Spheron", '/documentation/examples/pure_spheron'
    %li
      .link= link_to "Raspberry Pi - Blink", '/documentation/examples/raspi_blink'
    %li
      .link= link_to "Raspberry Pi - Button", '/documentation/examples/raspi_button'
    %li
      .link= link_to "Raspberry Pi - LED Brightness", '/documentation/examples/raspi_led_brightness'
    %li
      .link= link_to "Raspberry Pi - Servo", '/documentation/examples/raspi_servo'
    %li
      .link= link_to "Robot Commands", '/documentation/examples/robot_commands'
    %li
      .link= link_to "Servo", '/documentation/examples/servo'
    %li
      .link= link_to "Sphero", '/documentation/examples/sphero'
    %li
      .link= link_to "Sphero Collisions", '/documentation/examples/sphero_collision'
    %li
      .link= link_to "Sphero Color", '/documentation/examples/sphero_color'
    %li
      .link= link_to "Sphero Messages", '/documentation/examples/sphero_messages'
    %li
      .link= link_to "Multiple Spheros", '/documentation/examples/sphero_multiple'
    %li
      .link= link_to "Cylon and Travis", '/documentation/examples/travis'
