%section.hardware
  %h2 General Purpose Input/Output (GPIO) Drivers
  Cylon's GPIO drivers work with several different platforms that support the required GPIO interfaces. For example, the Arduino. 

  .devices
    = partial "/documentation/partials/devices_gpio_drivers"

  %h2 i2c Drivers 
  Cylon.js's i2c drivers work with several different platforms that support the required interfaces. For example, the Arduino.
  .devices
    = partial "/documentation/partials/devices_i2c_drivers"

  %h2 ARDrone Drivers
  .devices
    = partial "/documentation/partials/devices_ardrone_drivers"

  %h2 Crazyflie Driver
  .devices
    = partial "/documentation/partials/devices_crazyflie_drivers"

  %h2 Force Driver
  .devices
    = partial "/documentation/partials/devices_force_drivers"

  %h2 Joystick Driver
  .devices
    = partial "/documentation/partials/devices_joystick_drivers"

  %h2 Keyboard Driver
  .devices
    = partial "/documentation/partials/devices_keyboard_drivers"
  
  %h2 Leap Motion Driver
  .devices
    = partial "/documentation/partials/devices_leapmotion_drivers"

  %h2 Neurosky Driver
  .devices
    = partial "/documentation/partials/devices_neurosky_drivers"

  %h2 Pebble Driver
  .devices
    = partial "/documentation/partials/devices_pebble_drivers"

  %h2 Rapiro Driver
  .devices
    = partial "/documentation/partials/devices_rapiro_drivers"

  %h2 Sphero Driver
  .devices
    = partial "/documentation/partials/devices_sphero_drivers"
