---
hero: true
social: true
catcher: true

title: CylonJS
author: The Hybrid Group
description: Cylon.js is a JavaScript framework for robotics, physical computing, and the Internet of Things using Node.js. It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.
layout: home

hero_title: "JavaScript Robotics, By Your Command"
hero_subtitle: "Cylon.js makes robotics  <a href='/documentation/getting-started'>Simple</a> and <a href='/documentation/platforms'>Extensible</a>"

img_character: "<img src='images/elements/cylon.png'>"

catcher_phrase: Ready to build the next big thing with JavaScript?
getting_started_button: "<a href='/documentation/getting-started' class='cta'> Get Started</a>"

---

%h2 About
  
%p Cylon.js is a JavaScript framework for robotics, physical computing, and the Internet of Things using Node.js.

%p It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.

%p 
  Want to use Ruby on robots? Check out our sister project Artoo
  =link_to "(http://artoo.io)", "http://artoo.io", target: :blank

%p 
  Want to use the Go programming language to power your robots? Check out our sister project Gobot 
  =link_to "(http://gobot.io)", "http://gobot.io", target: :blank

%h2 Meet The Code

%p Cylon.js makes it incredibly simple and fun to command robots.

%p All you need to get started is the `cylon` npm module:

:markdown
      :::javascript
      npm install cylon

%p Then install modules for whatever hardware support you want to use from your robot.

%h2 Examples

%h3 Arduino:

%p Install modules for whatever hardware support you want to use from your robot. For the example below, an Arduino using the Firmata protocol:

:markdown
      :::javascript
      npm install cylon-firmata

%p This example connects to an Arduino, and every second turns the LED either on, or off.
:markdown
      :::javascript
      var Cylon = require("cylon");

      // Initialize the robot
      var robot = Cylon.robot({
        // Change the port to the correct port for your Arduino.
        connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
        device: { name: 'led', driver: 'led', pin: 13 },

        work: function(my) {
          // we do our thing here
          every((1).second(), function() { my.led.toggle(); });
        }
      });

      // start working
      robot.start();

%h3 ARDrone:

%p For this example, you need to install the module with the adaptor and drivers for the ARDrone from Parrot:

:markdown
      :::javascript
      npm install cylon-ardrone

%p This example connects to an ARDrone, and then simply takes off, and lands.
:markdown
      :::javascript
      var Cylon = require('cylon');

      Cylon.robot({
        connection: { name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1' },
        device: { name: 'drone', driver: 'ardrone' },

        work: function(my) {
          my.drone.takeoff();
          after(10..seconds(), function() { my.drone.land(); });
          after(15..seconds(), function() { my.drone.stop(); });
        }
      }).start();

%h3 More Examples

%p 
  We've got 
  = link_to "lots more examples here", "/documentation/examples"
  to help you get started.

%h2 Platform Support
%div
  %p Cylon.js has a extensible system for connecting to hardware devices. The following robotics and physical computing system, and software platforms, are currently supported:

  %ul.homepage_platform
    %li
      .title
        = link_to "ARDrone", "http://ardrone2.parrot.com/", target:"_blank"  
      %a{:href => "/documentation/platforms/ardrone"} 
        %img{src: "/images/devices/ardrone.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-ardrone", target:"_blank"
    %li
      .title
        = link_to "Arduino", "http://www.arduino.cc/", target:"_blank" 
      %a{:href => "/documentation/platforms/arduino"} 
        %img{src: "/images/devices/arduino.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-firmata", target:"_blank"
      
    %li
      .title
        = link_to "Beaglebone Black", "http://beagleboard.org/Products/BeagleBone+Black/", target:"_blank" 
      %a{:href => "/documentation/platforms/beaglebone"} 
        %img{src: "/images/devices/beaglebone.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-beaglebone", target:"_blank"
      
    %li
      .title
        = link_to "Crazyflie", "http://www.bitcraze.se/", target:"_blank" 
      %a{:href => "/documentation/platforms/crazyflie"} 
        %img{src: "/images/devices/crazyflie.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-crazyflie", target:"_blank"
      
    %li
      .title
        = link_to "Digispark", "http://digistump.com/category/1", target:"_blank" 
      %a{:href => "/documentation/platforms/digispark"} 
        %img{src: "/images/devices/digispark.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-digispark", target:"_blank"
      
    %li
      .title
        = link_to "Joystick", "http://en.wikipedia.org/wiki/Joystick", target:"_blank" 
      %a{:href => "/documentation/platforms/joystick"} 
        %img{src: "/images/devices/joystick.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-joystick", target:"_blank"
      
    %li
      .title
        = link_to "Keyboard", "http://en.wikipedia.org/wiki/Computer_keyboard", target:"_blank" 
      %a{:href => "/documentation/platforms/keyboard"} 
        %img{src: "/images/devices/keyboard.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-keyboard", target:"_blank"
      
    %li
      .title
        = link_to "Leap Motion", "http://www.leapmotion.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/leapmotion"} 
        %img{src: "/images/devices/leap_motion.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-leapmotion", target:"_blank"
      
    %li
      .title
        = link_to "OpenCV", "http://opencv.org/", target:"_blank" 
      %a{:href => "/documentation/platforms/opencv"} 
        %img{src: "/images/devices/opencv.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-opencv", target:"_blank"
      
    %li
      .title
        = link_to "Pebble", "https://getpebble.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/pebble"} 
        %img{src: "/images/devices/pebble.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-pebble", target:"_blank"
    
    %li
      .title
        = link_to "Rapiro", "http://www.rapiro.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/rapiro"} 
        %img{src: "/images/devices/rapiro.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-raspi", target:"_blank"
       
    %li
      .title
        = link_to "Raspberry Pi", "http://www.raspberrypi.org/", target:"_blank" 
      %a{:href => "/documentation/platforms/raspberry-pi"} 
        %img{src: "/images/devices/raspi.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-raspi", target:"_blank"
        
    %li
      .title
        = link_to "Salesforce", "http://www.force.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/force"} 
        %img{src: "/images/devices/force.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-force", target:"_blank"
    
    %li
      .title
        = link_to "Skynet", "https://www.skynet.im/", target:"_blank" 
      %a{:href => "/documentation/platforms/skynet"} 
        %img{src: "/images/devices/skynet.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-skynet", target:"_blank"
      
    %li
      .title
        = link_to "Spark", "https://www.spark.io/", target:"_blank" 
      %a{:href => "/documentation/platforms/spark"} 
        %img{src: "/images/devices/spark.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-spark", target:"_blank"
      
    %li
      .title
        = link_to "Sphero", "http://www.gosphero.com/", target:"_blank"  
      %a{:href => "/documentation/platforms/sphero"} 
        %img{src: "/images/devices/sphero.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-sphero", target:"_blank"
       
  .clear

%p Support for many devices that use General Purpose Input/Output (GPIO) have a shared set of drivers provided using the cylon-gpio module:
%ul.homepage_platform
  %li
    .title
      Analog Sensor
    %a{:href => "/documentation/drivers/analog-sensor"} 
      %img{src: "/images/devices/analog-sensor.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"
  %li
    .title
      Button 
    %a{:href => "/documentation/drivers/button"} 
      %img{src: "/images/devices/button.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"
  %li
    .title
      Continuous Servo
    %a{:href => "/documentation/drivers/continuous-servo"} 
      %img{src: "/images/devices/continuous-servo.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"   
  %li
    .title
      LED
    %a{:href => "/documentation/drivers/led"} 
      %img{src: "/images/devices/LED.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"  
  %li
    .title
      MakeyButton
    %a{:href => "/documentation/drivers/makey-button"} 
      %img{src: "/images/devices/makey-button.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank" 
  %li
    .title
      Motor
    %a{:href => "/documentation/drivers/motor"} 
      %img{src: "/images/devices/motor.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"   
  %li
    .title
      Maxbotix
    %a{:href => "/documentation/drivers/maxbotix"} 
      %img{src: "/images/devices/maxbotix.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"  
  %li
    .title
      Servo
    %a{:href => "/documentation/drivers/servo"} 
      %img{src: "/images/devices/servo.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-gpio", target:"_blank"   
  .clear

%p Support for devices that use Inter-Integrated Circuit (I2C) have a shared set of drivers provded using the cylon-i2c module:

%h4= link_to "I2C", "https://en.wikipedia.org/wiki/I%C2%B2C", target:"_blank" 
%ul.homepage_platform 
  %li  
    .title
      BlinkM
    %a{:href => "/documentation/drivers/blinkm"} 
      %img{src: "/images/devices/blinkm.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-i2c", target:"_blank"

  %li
    .title
      HMC6352
    %a{:href => "/documentation/drivers/hmc6352-compass"} 
      %img{src: "/images/devices/hmc6352-compass.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-i2c", target:"_blank"   
  %li
    .title
      LCD
    %a{:href => "/documentation/drivers/lcd"} 
      %img{src: "/images/devices/lcd.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-i2c", target:"_blank"   
  %li
    .title
      MPL115A2
    %a{:href => "/documentation/drivers/mpl115a2"} 
      %img{src: "/images/devices/mpl115a2.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/cylon-i2c", target:"_blank"  
  .clear
%p More platforms and drivers are coming soon...

%h2 CLI
%p Cylon has a Command Line Interface (CLI) so you can access important features right from the command line. We call it "robotops". You can scan, connect, update device firmware, generate new adaptors and more!
%p <a href="/documentation/cli">Check out our CLI docs here</a>.

%h2  Be Part Of The Robot Evolution
:markdown
  - Code on Github:   [https://github.com/hybridgroup/cylon](https://github.com/hybridgroup/cylon)
  - Follow us on Twitter:   [@cylonjs](http://twitter.com/cylonjs)
  - Join us on IRC:   `#cylon @ irc.freenode.net`
  - Join us on our [Trello Board](https://trello.com/b/l1aEuqMU/cylon).
